#container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 80px 0
}

.content h2 a {
  color: #97FFAE;
  display: block;
  margin-top: 24px;
  text-decoration: none;
  transition: color 0.2s;
}

.content h2 a:hover {
  color: #71bd81;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  width: 340px;
  text-align: center;
}

form div input {
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  border: 2px solid #232129;
  color: #666360;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

form div h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

form div h1 img {
  margin-left: 16px;
}

form div button {
  background: #97FFAE;
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #312e38;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.2s;
}

form div button:hover {
  background: #71bd81;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-bottom: 15px;
}

footer p a {
  color: #97FFAE;
  text-decoration: none;
  transition: color 0.2s;
  font-weight: bold;
}

footer p a:hover {
  color: #71bd81;
}