    </div>
    <footer>
      <p>
        ConvertMyMoney made on Fullstack Lab by DevPleno
      </p>
      <p>
        implemented by: <a className="hover:text-blue-800" href="https://www.linkedin.com/in/johnny-saraiva-701641164/">Johnny Saraiva</a>
      </p>  
    </footer>
  </div>
</body>
</html>