<%- include('header') %> 
  <form action="">
    <div>
      <input placeholder="Dollar price" type="text">
      <input placeholder="Dollar amount" type="text">
      <button>CONVERT</button>
    </div>
  </form>
<%- include('footer') %> 